
​
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
​
body {
    line-height:1;
}
​
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
​
nav ul {
    list-style:none;
}
​
blockquote, q {
    quotes:none;
}
​
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
​
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
​
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
​
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
​
del {
    text-decoration: line-through;
}
​
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
​
table {
    border-collapse:collapse;
    border-spacing:0;
}
​
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
​
input, select {
    vertical-align:middle;
}



.header{
  background-image: url(images/mv.png);
  padding-top: 45px;
  padding-bottom: 40px;
  background-size: cover;
}

.header-with{
  width: 1200px;
  margin: 0 auto;
}

.header-logo h1{
  font-family: Myriad Pro;
  font-size: 30px;
  color: #ffffff;
}

.header-logo a{
  text-decoration: none;

}

.header-nav ul{
  list-style: none;
  display: flex;
}

.header-nav__ul a{
  text-decoration: none;
  font-family: [Montserrat];
  font-size: 14px;
  color: #ffffff;
  padding-left: 50px;
}

.header-nav{
  display: flex;
}


.header-nav__ul a {
    position: relative;
    display: inline-block;
    font-weight: bold;

}
.header-nav__ul a:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #fce38a;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    -webkit-transition: .4s ease 0s;
    transition: .4s ease 0s;
}
.header-nav__ul a:hover {
    text-decoration: none;
    color: #fce38a;
}
.header-nav__ul a:hover:before {
    width: 100%;
}
.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 150px;
}

.header-item{
  padding-left: 40px;
}

.header-item a{
  padding: 0px;
}

.header-text span{
  font-family: [KaushanScript];
  font-size: 72px;
  color: #ffffff;
  padding-bottom: 30px;
}

.header-text__under span{
 font-size: 150px;
  color: #ffffff;
  line-height: 0.9;
  font-family: Myriad Pro;
}

.header-textall{
  text-align: center;
}

.header-border span{
  font-size: 14px;
  font-family: Myriad Pro;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 10px 40px;
}

.header-border a{
  text-decoration: none;
}

.header-border{
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
}

.header-siro{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

.header-second{
  display: flex;
  flex-direction: column;
}

.header-one{
  display: flex;
  justify-content: space-between;
}


.header-one__number{
  padding-top: 30px;
}

.main{
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.main-txt__one{
  font-family: Myriad Pro;
  font-size: 24px;
}
.main-txt__second{
  font-family: Myriad Pro;
  font-size: 30px;
}

.main-txt{
  text-align: center;
}

.main-txtsecond{
  font-family: Myriad Pro;
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
  text-align: center;
  padding-top: 57px;
}

.main-img{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 120px;
}

.mainnumber{
  background-color: #95e1d3;
}

.mainnumber-with{
  width: 1200px;
  margin: 0 auto;
}

.mainnumber-all__number{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #ffffff;
  padding: 90px 40px;
}

.mainnumber-all__numbera{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 90px 60px;
}

.mainnumber-all__one{
  font-size: 72px;
  color: #ffffff;
  font-family: [Montserrat];
}

.mainnumber-all__second{
  font-size: 14px;
  font-family: Myriad Pro;
  color: #ffffff;
}

.mainnumber-all{
  display: flex;
  justify-content: center;
}

.mainimgarea{
  width: 1200px;
  margin: 0 auto;
  padding-top: 110px;
}

.mainnumber-txt__one{
  font-size: 24px;
  font-family: [KaushanScript];
}

.mainnumber-txt__second{
  font-size: 30px;
  color: #Myriad Pro;
}

.mainimgarea-txt{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainnumber-imgarea__txt{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.mainnumber-imgarea{
  display: flex;
}

.mainnumber-imgarea__txtone{
  font-size: 14px;
  font-family: Myriad Pro;
  padding-bottom: 10px;
}

.mainnumber-imgarea__txtsecond{
  font-size: 15px;
  color: #999999;
  font-family: Myriad Pro;
  line-height: 1.6;
}

.mainnumber-imgall{
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
  padding-bottom: 100px;
  border-bottom: 1px solid  #999999;
}
.mainnumber-imgallone{
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
  padding-bottom: 100px;
}

.mainsecond{
  background-image: url(images/backs.png);
  background-size: cover;
}

.mainsecond-with{
  width: 1200px;
  margin: 0 auto;
}

.mainsecond-txt{
  display: flex;
  flex-direction: column;
}

.mainsecond-txt__one{
  font-size: 24px;
  font-family: Myriad Pro;
}

.mainsecond-txt__second{
  font-size: 30px;
  font-family: Myriad Pro;
}

.mainsecond-txt{
  text-align: center;
  padding-top: 100px;
}

.mainsecond-img{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 45px;
}

.mainsecond-iphone{
  text-align: center;
  position: relative;
}

.mainsecond-iphone img{
  position: relative;
  top: 97px;
}

.mainthird{
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.mainthird-txt{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 115px;
}

.mainthird-txt__one{
  font-size: 24px;
  font-family: Myriad Pro;
}

.mainthird-txt__second{
  font-size: 30px;
  font-family: Myriad Pro;
}

.mainthird-txt__long span{
  font-family: [Roboto];
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
}

.mainthird-txt__long{
  padding-bottom: 128px;
  text-align: center;
}

.mainthird-humanimg__all{
  display: flex;
}

.mainthird-humanimg__imgarea{
  padding-right: 30px;
}

.mainthird-humanimg__img{
  padding-right: 30px;
}

.mainthird-humaning__txtarea span{
  font-size: 14px;
  font-family: Myriad Pro;
  padding-left: 14px;
}

.mainthird-humaning__txtarea{
display:flex;
align-items: center;
justify-content: space-between;
border: 2px solid #e5e5e5;
padding: 15px;
}

.mainthird-humanimg__txt{
  display: flex;
  align-items: center;
}

.mainthird-humanimg__longtxt span{
font-size: 15px;
font-family: Myriad Pro;
line-height: 1.6;
color: #999999;
}

.mainthird-humanimg__longtxt{
  display:flex;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  padding: 15px;
  overflow: auto;
  height: 90px;
}

.mainthird-humanimg__longtxt::-webkit-scrollbar {
  width: 7px;
}
.mainthird-humanimg__longtxt::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
.mainthird-humanimg__longtxt::-webkit-scrollbar-thumb {
  background: #95e1d3;
  border-radius: 10px;
  box-shadow: none;
}

.mainthird-humanimg__longtxtall{
  padding-right: 20px;
}

.mainthird-humanimg__boutxt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e5e5e5;
  margin-top: 20px;
  padding: 14px;
}

.mainthird-humanimg__bouarea{
  display: flex;
  align-items: center;

}

.mainthird-humanimg__bouarea span{
  font-size: 14px;
  font-family: Myriad Pro;
padding-left: 14px;
}

.mainforth{
  background-color: #f8f8f8;
}

.mainforth-with{
  width: 1200px;
  margin: 0 auto;
  padding: 70px 0px;
}

.mainforth-kutikomi{
  display: flex;
  justify-content: center;
}

.mainforth-kutikomi__img{
padding-right: 40px;
}

.mainforth-kutikomi__txt span{
  color: #999999;
  font-size: 24px;
  line-height: 1.5;
}

.mainforth-kutikomi__jon span{
  font-size: 24px;
  font-family: Myriad Pro;
}

.mainforth-kutikomi__jon{
  display: flex;
  align-items: center;
}

.mainfifth{
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 120px;
}

.mainfifth-title{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainfifth-title__one{
  font-size: 24px;
  font-family: Myriad Pro;
}

.mainfifth-title__second{
  font-size: 30px;
  font-family: Myriad Pro;
}

.mainfifth-longtxt span{
  color: #999999;
  font-size: 15px;
font-family: Myriad Pro;
line-height: 1.6;
}

.mainfifth-longtxt{
  text-align: center;
  padding-bottom: 85px;
}

.mainfifth-imgarea__txt{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.mainfifth-imgarea__txtsecond{
  font-family: Myriad Pro;
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
}

.mainfifth-imgarea__txtone{
  font-size: 14px;
  font-family: Myriad Pro;
}

.mainfifth-imgarea__all{
  display: flex;
  justify-content: space-between;
}

.mainmark{
  background-color: #f8f8f8;
}

.mainmark-with{
  width: 1200px;
  margin: 0 auto;
  padding: 70px 0px;
}

.mainsixth{
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 120px;
}

.mainsixth-title{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainsixth-title__one{
  font-size: 24px;
  font-family: Myriad Pro;
}

.mainsixth-title__second{
  font-size: 30px;
  font-family: Myriad Pro;
}

.mainsixth-longtxt span{
  font-size: 15px;
  font-family: Myriad Pro;
  color: #999999;
  line-height: 1.6;
}

.mainsixth-longtxt{
  text-align: center;
  padding-bottom: 110px;
}

.mainsixth-imgarea{
  display: flex;
  flex-direction: column;
}

.mainsixth-imgarea__all{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.mainsixth-en{
  display: flex;
align-items: center;
justify-content: center;
}

.mainsixth-en__mark{
  padding-left: 45px;
  padding-right: 30px;
}

.mainsixth-en__longtxt{
padding-right: 30px;
}

.mainsixth-en__longtxt span{
  font-size: 24px;
  font-family: Myriad Pro;
  line-height: 1.5;
  color: #999999;
}

.mainsixth-en__name span{
  font-family: mainsixth-en__name;
  font-size: 24px;
  color: #333333;
}

.mainseventh{
  background-image: url(images/bkmounten.png);
  background-size: cover;
}

.mainseventh-with{
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;

}

.mainseventh-title__one{
  font-size: 24px;
  font-family: Myriad Pro;
}

.mainseventh-title__second{
  font-size: 30px;
  font-family: Myriad Pro;
}

.mainseventh-title{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainseventh-human__txt{
  display: flex;
  flex-direction: column;
}

.mainseventh-human__all{
  display: flex;
}

.mainseventh-human__txtname{
  font-size: 14px;
  font-family: Myriad Pro;
}

.mainseventh-human__txtone{
  font-size: 15px;
  font-family: Myriad Pro;
  line-height: 1.6;
  padding-bottom:20px;
}

.mainseventh-human__longtxt{
  font-size: 15px;
  font-family: Myriad Pro;
  color: #999999;
}

.mainseventh-human{
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.mainseventh-human__img{
  padding-right: 30px;
}

.mainseventh-human__longtxt{
  padding-top: 24px;
}

.maineighth{
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 120px;
}

.maineighth-title__one{
  font-size: 24px;
  font-family: Myriad Pro;
}

.maineighth-title__second{
  font-size: 30px;
  font-family: Myriad Pro;
}

.maineighth-title{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.maineighth-imgarea__txt{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #999999;
}

.maineighth-imgarea__txtone{
  font-size: 14px;
  font-family: Myriad Pro;
  padding-bottom: 10px;
  padding-top: 10px;
}

.maineighth-imgarea__txtsecond{
  font-size: 15px;
  font-family: Myriad Pro;
  color: #999999;
  line-height: 1.6;
  padding-bottom: 20px;
}

.maineighth-item{
  display: flex;
}

.maineighth-item__one span{
  font-size: 15px;
font-family: [Roboto];
line-height: 1.6;
color: #999999;
}

.maineighth-item__one{
  padding-right: 20px;
}

.maineighth-item{
  padding-top: 20px;
}

.mainmap-with{
  width: 1200px;
  margin: 0 auto;
}

.maineighth-imgarea__all{
  display: flex;
  justify-content: center;
}

.maineighth-imgarea{
  padding-right: 20px;
}

.mainmap{
  background-image: url(images/tizu.png);
  background-size: cover;
  padding: 55px 0px;
}

.mainmap-imgtxt span{
  font-size: 24px;
  font-family: Myriad Pro;
  color: #f38181;
}

.mainmap-imgtxt{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer{
  background-color: #f8f8f8;
}

.footer-with{
  width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 70px;
}

.footer-logo{
  font-family: [Montserrat];
  font-size: 46px;
  color: #cccccc;
}

.footer-longtxt{
  font-family: Myriad Pro;
  font-size: 15px;
  color: #cccccc;
  line-height: 1.6;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-item__title{
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  font-size: 15px;
  font-family: Myriad Pro;

}

.footer-item__follow{
  padding-top: 20px;
  font-family: Myriad Pro;
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
  margin-bottom: 40px;
}

.footer-item__follow span{
padding-right: 20px;
}

.footer-item__follow a{
  text-decoration: none;
}

.footer-item__follow img{
  padding-right: 15px;
}

.footer-input input{
  color: #cccccc;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 100px;
  border: 1px solid #cccccc;
}

.footer-inputall{
  display: flex;
}

.footer-input__txt{
  font-family: [Montserrat];
  font-size: 14px;
  color: #ffffff;
  background-color: #95e1d3;
  display: flex;
  align-items: center;
  padding: 13px 35px;
}

.footer-all{
  display: flex;
  justify-content: space-between;
}

.footer-imgtxt{
  display: flex;
}

.footer-title{
  font-family: [Montserrat];
  font-size: 14px;
  padding-bottom: 40px;
}

.footer-imgtxt__shorttxt{
  font-size: 12px;
  font-family: Myriad Pro;
}

.footer-imgtxt__longtxt{
  font-size: 13px;
  font-family: Myriad Pro;
  color: #999999;
}

.footer-imgtxt__txt{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.footer-imgtxt{
  padding-bottom: 30px;
}

.footerthird-imgarea{
  display: flex;
}

.footerthird-imgarea img{
  padding-left: 5px;
  padding-bottom: 5px;
}

.footerthird-txt{
  font-size: 13px;
  font-family: Myriad Pro;
  line-height: 1.8;
  padding-top: 10px;
}

.footerforth{
  width: 1200px;
  margin: 0 auto;
}

.footerforth-txt p{
  font-size: 14px;
  font-family: Myriad Pro;
}

.footerforth-txt{
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.footerforth-txt span{
  color: #f38181;
}

.footer-inputallnone a{
  text-decoration: none;
}

.footer-inputall a{
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  .header-with{
    width: 100%;
    margin: 0px;
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
  }
  .header-nav{
    display: none;
  }
  .header-text span{
    font-size: 30px;
  }
  .header-text__under span{
    font-size: 50px;
  }
  .header-flex{
    padding-bottom: 50px;
  }
  .header-one{
    display: none;
  }
  .main{
    width: 100%;
    box-sizing: border-box;

  }
  .main-img{
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .mian-img__area img{
    padding-bottom: 20px;
    width: 100%;
  }
  .mainnumber-with{
    width: 100%;
    box-sizing: border-box;
  }
  .mainnumber-all{
    display: block;
  }
  .mainnumber-all__number{
    border-bottom: 1px solid #fff;
  }
  .mainimgarea{
    width: 100%;
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
  }
  .mainnumber-imgallone{
    display: block;
  }
  .mainnumber-imgall{
    display: block;
    text-align: center;
    padding: 0px ;
  }
  .mainnumber-imgarea{
    padding-bottom: 30px;
  }
  .mainsecond-with{
    width: 100%;
box-sizing: border-box;
  }
  .mainsecond-iphone img{
    width: 100%;
    box-sizing: border-box;
  }
  .mainseventh-human{
    display: block;
  }
  .mainthird{
    width: 100%;
    box-sizing: border-box;
  }
  .mainthird-humanimg__img{
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
  }
  .mainthird-humanimg__flex{
    padding: 0px 20px;
  }
  .mainthird-humanimg__all{
    display: block;
  }
  .mainforth-with{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  .mainforth-kutikomi__txt span{
    font-size: 18px;
  }
  .mainforth-kutikomi__jon{
    justify-content: center;
  }
  .mainforth-kutikomi{
    display: block;
  }
  .mainfifth{
    width: 100%;
    box-sizing: border-box;
  }
  .mainfifth-imgarea__all{
    display: block;
    text-align: center;
  }
  .mainfifth-imgarea__txt{
    padding-bottom: 30px;
  }
  .mainfifth-imgarea__imgtxt img{
    width: 100%;
    box-sizing: border-box;
  }
.mainmark{
  display: none;
}
.mainsixth{
  width: 100%;
  box-sizing: border-box;
}
.mainsixth-imgarea__all{
display: none;
}
.mainsixth-en{
  display: block;
  text-align: center;
}
.mainsixth-en__migi{
  display: none;
}
.mainsixth-en__migi{
  display: none;
}
.mainsixth-en__longtxt span{
  font-size: 18px;
}
.maineighth-imgarea__all{
  display: block;
  text-align: center;
}
.maineighth-imgarea__img img{
  width: 100%;
  box-sizing: border-box;
}
.mainseventh-with{
  width: 100%;
  box-sizing: border-box;display: none;
}
.maineighth{
  width: 100%;
  box-sizing: border-box;
}
.maineighth-imgarea__txtsecond{
  font-size: 13px;
}
.mainmap-with{
  width: 100%;
  box-sizing: border-box;
}
.footer-with{
  width: 100%;
  box-sizing: border-box;
}
.footer-all{
  display: block;
  text-align: center;
}
.footer-imgtxt{
padding: 10px 20px;
}
.footer-imgtxt__txt{
  padding-left: 10px;
}
.footerthird-imgarea{
justify-content: center;
}
.footer-imgtxt__all{

}
.footer-item{
  display: none;
}
.footer-item__follow img{
  padding-right: 10px;
}
.footer-inputall{
  display: none;
}
.footer-input input{
  padding: 15px 30px;
}
.footer-input__txt{
  padding: 13px 30px;
}
.footer-inputallnone{
  display: flex;
  justify-content: center;
}
.footernone{
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.footerforth{
width: 100%;
box-sizing: border-box;
}

}

























@media screen and (min-width: 1024px){
  .header-menu{
    display: none;
  }
  .footernone{
    display: none;
  }
}
